#headeer {
	position: absolute;
	top: 40px;
	left: 0px;
	height: 40px;
}
#workspace {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
}
#upper-pane {
	height: 40%;
	width: 100%;
}
#lower-pane {
	height: 60%;
	width: 100%;
}
.lower-child {
	padding: 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	-moz-box-sizing: border-box;
}

#tree-pane {
	height: 100%;
	width: 20%;
	overflow:hidden;
	box-sizing: border-box;	-moz-box-sizing: border-box;
}
#sql-pane {
	height: 100%;
	width: 80%;
	overflow:hidden;
}
#toolbar {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 40px;
	z-index: 10;
}
#toolbar .tool-btn {
	margin: 5px 0px 5px 20px;
}
#sql-tab {
	position: absolute;
	left: 0px;
	padding-top: 40px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	-moz-box-sizing: border-box;
	z-index: 5;
}
#sql-tab ul {
	z-index: 5;
}
#text-pane {
	padding-bottom: 50px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	-moz-box-sizing: border-box;
}

#form-pane {
	padding: 20px 10px 50px 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;	-moz-box-sizing: border-box;
}

#txtSQL {
	width: 100%;
	height: 100%;
	box-sizing: border-box;	-moz-box-sizing: border-box;
	font-family: monospace;
}
#grid-pane {
	width: 100%;
	height: 100%;
}

#graph-pane {
	margin: auto;
	margin-top: 20px;
	width: 80%;
	height: 90%;
}
#graph-canvas {
	position: absolute;
	margin: 0;
	padding: 0 40px 0 0;
	box-sizing: border-box;	-moz-box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#formForm-pane {
	box-sizing: border-box;	-moz-box-sizing: border-box;
	height: 100%;
}

#formDesc-pane {
	float: right;
	box-sizing: border-box;	-moz-box-sizing: border-box;
	width: 300px;
	height: 100%;
	padding: 5px;
	border: solid 1px;
	border-radius: 1em;
}

#formDesc {
	display: block;
	overflow: hidden;
}

.form-header {
	display: inline-block;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;	-moz-box-sizing: border-box;
	border-bottom: double 4px;
	margin: 0 0 4px 0;
}

/* For disabling dropdown menu of Bootstrap */
li.disabled {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
}

/* For jqGrid and Bootstrap conflict */
input.ui-pg-input {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}
select.ui-pg-selbox {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}

fieldset ul {
	list-style: none;
}

fieldset ul label {
	display: inline-block;
	width: 100px;
	height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
}

fieldset ul input[type=radio] {
	margin: 0 10px 0 10px;
}
