@(scheduleEnabled: Boolean, importInsert: Int, importUpdate: Int, targetGroup: String)(implicit lang: Lang)

@base("SQLTool") {
<link rel='stylesheet' type='text/css' href='@routes.Assets.at("javascripts/ext/jqgrid/css/ui.jqgrid.css")' />
<link rel='stylesheet' type='text/css' href='@routes.Assets.at("javascripts/ext/dynatree/src/skin/ui.dynatree.css")' />
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/jqgrid/js/i18n/grid.locale-ja.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/jqgrid/js/jquery.jqGrid.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/dynatree/dist/jquery.dynatree.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/flotr2/flotr2.js")'></script>

<script src="/i18n/@lang.language/messages.js" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/sqlgrid.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/sqlgraph.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/sqltool.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.splitter.js")" type="text/javascript"></script>
<script>
var app;
$(document).ready(function() {
	var settings = {
		"scheduleEnabled" : @scheduleEnabled,
		"importInsert" : @importInsert,
		"importUpdate" : @importUpdate,
		"targetGroup" : "@targetGroup"
	}
	$.fn.button.noConflict();
	app = new flect.app.sqltool.SqlTool(settings);
});
</script>
<div id="header" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<span class="brand" class="active">SQLTool</span>
			<ul class="nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("file")<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#" id="btnExport">@Messages("export")</a></li>
						<li><a href="#" id="btnImport">@Messages("import")</a></li>
					</ul>
				</li>
				<li><a href="/assets/@lang.language/manual.html">@Messages("howToUse")</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("language")<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/i18n/setlang?lang=en">@Messages("english")</a></li>
						<li><a href="/i18n/setlang?lang=ja">@Messages("japanese")</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="workspace">
	<div id="upper-pane">
		<div id="tree-pane"></div>
		<div id="sql-pane">
			<div id="toolbar">
				<button class="tool-btn btn btn-info" id="btnExec">@Messages("execute")</button>
				<div class="btn-group">
					<button class="tool-btn btn btn-info" id="btnSave">@Messages("save")</button>
					<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" id="btnSaveAs">@Messages("saveAs")</a></li>
						<li class="disabled"><a href="#" id="btnEdit">@Messages("edit")</a></li>
						<li class="divider"></li>
						<li class="disabled"><a href="#" id="btnDelete">@Messages("delete")</a></li>
					</ul>
				</div>
				<button id="btnGraphSetting" class="tool-btn btn btn-info" disabled>@Messages("ui.graphSetting")</button>
				<!--
				<button class="tool-btn btn btn-danger" id="btnTest">Test</button>
				-->
			</div>
			<div id="sql-tab">
				<ul>
					<li><a href="#text-pane">@Messages("sql")</a></li>
					<li><a href="#form-pane">@Messages("form")</a></li>
				</ul>
				<div id="text-pane">
					<textarea id="txtSQL"></textarea>
				</div>
				<div id="form-pane">
					<div id="formDesc-pane" class="alert alert-info">
						<div class="form-header"><strong>@Messages("description")</strong></div>
						<div id="formDesc"></div>
					</div>
					<div id="formForm-pane">
						<div id="formForm"></div>
					</div>
				</div>
			</div>
			<div id="schema-tab" style="display:none"></div>
		</div>
	</div>
	<div id="lower-pane">
		<div id="grid-pane" class="lower-child" style="display:none"></div>
		<div id="graph-pane" class="lower-child" style="display:none">
			<div id="graph-canvas"></div>
		</div>
		<iframe src="about:none" id="sheet-frame"></iframe>
		<div id="error-msg" class="lower-child alert alert-error" style="display:none"></div>
	</div>
</div>
<div id="saveDialog" style="display:none">
	<fieldset>
		<legend>@Messages("saveSql")</legend>
		<ul>
			<li><label>@Messages("name")</label><input type="text" id="sql-name"></li>
			<li><label>@Messages("group")</label><input type="text" id="sql-group"></li>
			<li><label>@Messages("kind")</label><select id="sql-kind"></select></li>
			<li><label>@Messages("description")</label><textarea id="sql-desc" class="input-xxlarge" rows="5"></textarea>
		</ul>
	</fieldset>
	<fieldset id="schedule-setting" style="display:none">
		<legend>@Messages("scheduleSetting")</legend>
		<ul>
			<li><label>@Messages("ui.spreadsheet")</label><input type="text" id="schedule-spreadsheet"><label style="padding-left:20px;">@Messages("ui.worksheet")</label><input type="text" id="schedule-worksheet"></li>
			<li><label>@Messages("ui.scheduleTime")</label>
				<select id="schedule-time" class="input-small">
					<option value="00:00:00">00:00</option>
					<option value="01:00:00">01:00</option>
					<option value="02:00:00">02:00</option>
					<option value="03:00:00">03:00</option>
					<option value="04:00:00">04:00</option>
					<option value="05:00:00">05:00</option>
					<option value="06:00:00">06:00</option>
					<option value="07:00:00">07:00</option>
					<option value="08:00:00">08:00</option>
					<option value="09:00:00">09:00</option>
					<option value="10:00:00">10:00</option>
					<option value="11:00:00">11:00</option>
					<option value="12:00:00">12:00</option>
					<option value="13:00:00">13:00</option>
					<option value="14:00:00">14:00</option>
					<option value="15:00:00">15:00</option>
					<option value="16:00:00">16:00</option>
					<option value="17:00:00">17:00</option>
					<option value="18:00:00">18:00</option>
					<option value="19:00:00">19:00</option>
					<option value="20:00:00">20:00</option>
					<option value="21:00:00">21:00</option>
					<option value="22:00:00">22:00</option>
					<option value="23:00:00">23:00</option>
				</select>
			</li>
		</ul>
	</fieldset>
</div>
<div id="graphSettingDialog" style="display:none">
</div>
<form id="importForm" style="position:absolute;top:0;left:-1000px" action="/sql/import.sql" method="post" enctype="multipart/form-data">
	<input type="file" name="file" id="importFile">
</form>
}
