@()(implicit lang: Lang)

@base("SQLTool") {
<link rel='stylesheet' type='text/css' href='@routes.Assets.at("javascripts/ext/jqgrid/css/ui.jqgrid.css")' />
<link rel='stylesheet' type='text/css' href='@routes.Assets.at("javascripts/ext/dynatree/src/skin/ui.dynatree.css")' />
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/jqgrid/js/i18n/grid.locale-ja.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/jqgrid/js/jquery.jqGrid.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/ext/dynatree/dist/jquery.dynatree.min.js")'></script>
<script src="@routes.Assets.at("javascripts/sqlgrid.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/sqltool.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.splitter.js")" type="text/javascript"></script>
<script>
var app;
$(document).ready(function() {
	$.fn.button.noConflict();
	app = new flect.app.sqltool.SqlTool();
});
</script>
<div id="header" class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<span class="brand" class="active">SQLTool</span>
			<ul class="nav">
				<li><a href="@routes.Assets.at("ja/manual.html")">使い方</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="workspace">
	<div id="upper-pane">
		<div id="tree-pane">Tree</div>
		<div id="sql-pane">
			<div id="toolbar">
				<button class="btn btn-info" id="btnExec">Execute</button>
				<button class="btn btn-info" id="btnSave">Save</button>
			</div>
			<div id="sql-tab">
				<ul>
					<li><a href="#text-pane">SQL</a></li>
					<li><a href="#form-pane">Form</a></li>
				</ul>
				<div id="text-pane">
					<textarea id="txtSQL">select * from contents</textarea>
				</div>
				<div id="form-pane">Form</div>
			</div>
			<div id="schema-tab" style="display:none"></div>
		</div>
	</div>
	<div id="lower-pane">
		<div id="grid-pane" class="lower-child" style="display:none"></div>
		<div id="error-msg" class="lower-child alert alert-error" style="display:none"></div>
	</div>
</div>
}
